/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }
    
    
    
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
    body {
      display: flex;
      font-family: Verdana, monospace;
    }
    h1 {
      font-size: 1.2em;
      display:inline;
    }
    img {
        max-width:90%;
        display:block;
        margin-top: 1.5em;
        margin-bottom:1.5em;
        margin-left: auto;
        margin-right:auto;
    }
    sup {
        line-height: 1.15em;
    }
    input.note-toggle {
        display:none;
    }
    .nav_wrap {
      background-color: rgba(138, 150,159,0.5);
      display:none;
      max-width: 10em;
      }
    .content_wrap{
      max-width: 45em;
      margin-left: 1.5em;
      margin-right: 1.5em;
    }
    .sidenote{
    
      float: right;
      max-width: 20em;
      margin-right: -22em;
      clear:right;
      position: relative;
      transform: translateY(-30%);

    }
    .inline-title-button{
      float: right;
    }

    .selected-title{
      font-weight: bold;
      text-decoration: underline;
      color: red !important;
    }

@media only screen and (max-width: 75em) {
    /*largely copied from tufte css*/
    .sidenote {
      display:none;
    }
    .note-toggle:checked + .sidenote{
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        max-width: 95%;
        margin: 1rem 2.5%;
        position: relative; 
    }
}
@media only screen and (min-width: 30em) {
    .inline-title {
        display:none;
    }
    .nav_wrap {
      display: flex;
      position: fixed;
    }
   
    .content_wrap{
      margin-right: 5em;
      margin-bottom: 5em;
    }
}

    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}