/*TODO claim remaining flexbox container width somehow so sidenotes may reappear
    a:link { 
        color:#0271fb;
        text-decoration: none;
    }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { 
        color:#000;
        text-decoration: underline;
    }
    a:active { color:#fb0e02; }

    /* descendant selector; use > for direct child only
     * Apparently, this takes precedence over the action selectors above*/
/*TODO use CSS propertie for color */
    div.nav_wrap  a {
        text-decoration: none;
        background-color: beige;
    }
    div.nav_wrap a:hover, div.nav_wrap a:focus{ color:#000}

    body {	
        overflow: hidden;
    /* body assumes viewport height; instrumental in letting only the nav_wrap
       child be non-scrolling, avoiding use of "position: fixed;" that
       drops it from box calculations.*/
        height: 100vh; 

        font-family: Bitstream Vera Serif;
        line-height: 1.6em;
    }
    h1 {
        font-size: 1.2em;
        /* allow the mobile overlay button to appear next to the title */
        display: inline; 
    }

    h2{
        font-size: 1em;
    }

    a {
        color: brown;
        text-decoration: none;
    }

    .logo {
    }

    .logo img{
    }

    img {
        color: brown;
    }
    
    input.note-toggle, input.overlay-toggle {
/* TODO needs name refactoring; hides sidenote and mobile semantics overlay-to-be checkboxes
    that's a nice task for sed/awk intro */
        display:none;
    }
    /*button styling is bulma class copypasta */
    button {
        background-color: white;
        border-color: #dbdbdb;
        border-width: 1px;
        color: #363636;
        cursor: pointer;
        justify-content: center;
        padding-bottom: calc(0.5em - 1px);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: calc(0.5em - 1px);
        text-align: center;
        white-space: nowrap;
    }
        
    button:hover {
        border-color: #b5b5b5;
        color: #363636;
        }


    .flex_wrap {
    /* itself is block, otherwise use inline-flex to get inline-block behavior; 
       children become flexbox items either way */
        display: flex;
        height: 100%; /* of parent */
    }

    .nav_wrap {
/*      background-color: rgba(138, 150,159,0.5); */
      /* defaults to nonexistexisting, appears when viewport is large */	    
      display:none;


      /* Plain width setting doesn't work */
      max-width: 15em;
      min-width: 15em;
      }
    .content_wrap{
        overflow-y: auto;
        width: 100%;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
   }
    main {
        max-width: 45em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .sidenote{
        float: right;
        max-width: 20em;
        font-size: 0.85em;
        font-style: italic;
        line-height: inherit; 
        background-color: beige;
        padding: 0.8em;
      /* this kludge is necessary with floating elements as the sidenote has a width itself 
       * though im sure there must be a better way */
      margin-right: -22em;
      /* in this property's particular case, percentage is relative to the height of the element itself, not 	     the parent's. */
      transform: translateY(-30%);

    }
/*TODO name refactor*/
    /* only display buttons if JS is present */
    #sidebar-tab-hotload{
        display: none;

        width: 100%;
        justify-content: space-around;
    }

    .overlay-button{
      float: right;
      font-size: 2em;
    }

    .selected-title{
      font-weight: bold;
    }


/*TODO: Use css properties to tidy up width addition calculations a bit*/
@media only screen and (max-width: 80em) {
    /*largely copied from tufte css*/
    .sidenote, .semantics-overlay {
      display:none;
    }

    /* "+" Is called adjacent sibling selector. */
    .note-toggle:checked + .sidenote, .overlay-toggle:checked + .semantics-overlay{ 
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        max-width: 95%;
        margin-top: 2.5rem;
        /* Unset the negative margin kludge */
        margin-right: unset;
        position: relative; 
    }
}
@media only screen and (min-width: 45em) {
    .inline-title {
        display:none;
    }
    .nav_wrap {
      display: inherit;
    }
}
