<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content"Database (re)generation confirmation dialog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head
<body>
    <p>Database of articles will be wiped if already existing. Continue with
    database generation?</p>
    <form>
        <button name='confirm-wipe' value="y">Confirm</input> 
        <button name ='confirm-wipe' value="n">Cancel</input>
    </form>
</body>
</html>

