{% extends 'taxonomy_layout.html' %}

{% block navigation %}

    <span class="description" > {{ description }} </span><br>

    {% for i in tags_nav %}
        <a href="">{{ i['name'] }}</a><br>    
    {% endfor %}
    <br>

    {% for i in article %}
    --------------<br>
    <a href="#{{i.slug}}">{{ i.title }}</a><br>
    {% endfor %}


{% endblock %}

{% block content %}
<h1>Hello</h1>
This is the content of Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br><br>
Articles:<br>
{% for i in article %}
    <span id="{{i.slug}}">
    {{ i['title'] }}<br>
    {{ i['content']|safe }} <br> <!-- safe filter necessary for rendering html -->
    Tags:<br>
        {% for j in i.tags_list %}
            {{ j.name }}<br>
        {% endfor %}
    Epistemic_state: {{ i.epistemic_state.name }}<br>
    Last major edit: {{ i.last_major_edit }}<br>
    ------------------------------------<br>
    </span>
{% endfor %}

<br><br>
{% for i in epistemic %}
    {{ i['name'] }}<br>
{% endfor %}
<br>
{% for i in types %}
    {{ i['name'] }}<br>
{% endfor %}
<br>
{% for i in status %}
    {{ i['name'] }}<br>
{% endfor %}

{% if previous_url %}
    <a href="{{ previous_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
{% endif %}

{% endblock %}

{% block citations %}
Here lie the citations
1.Of<br>
2.This<br>
3.Article
{% endblock %}
